<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stevenenriquez.anagramgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/abc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/abc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Credits"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ChallengeList"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Results"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Challenge1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Challenge2"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Challenge3"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->